@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,300;0,400;0,500;1,400;1,500;1,700&family=Titillium+Web:ital,wght@0,200;0,400;0,600;1,400&display=swap');

$font-main-color: #e7ecef;
$font-family: 'Noto Sans Display';

$completed-color: #3d405b;
$uncompleted-color: #ee4266;
$miAmarillo: #ffdf5c;
$myBlackSec: #2d2e30;
$color-sec: #2d00f7;

%display-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

%background-gradient {
    background: rgb(142,154,175);
    background: linear-gradient(135deg, #18191A 90%, #141414 10%);
}

%boxShadow {
    -webkit-box-shadow: 5px 7px 8px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 7px 8px -2px rgba(0,0,0,0.2);
    box-shadow: 5px 7px 8px -2px rgba(0,0,0,0.2);
}
