.loading_container {
    width: 100%;
    max-width: 1400px;
    display: grid;
    place-content: center;
    grid-gap: 10px;
    text-align: center;
    & > label {
        width: 100%;
        max-width: 900px;
        min-width: 900px;
        display: flex;
        height: 20px;
        background-color: $myBlackSec;

        animation: 1.2s Loading ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }

    @keyframes Loading {
        0% {
            opacity: 1;
        }
        50% {
            opacity: .2;
        }
        100% {
            opacity: 1;
        }
    }
}